.bod{
  background-color: #6A359C;
  text-align: center;
  padding-left: 40rem;
  padding-right: 40rem;

}
.cl{

  text-align: center;
  padding: 10rem 15rem 15rem;

}
.form-control{
  padding-left: 20rem;
  padding-right: 20rem;
  margin-top: 2%;
}

#entries{
	margin: 25px;
}


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}